/*Global*/


/*Scroll Arrow*/

.scroll-arrow{
  width: 44px;
  height: 44px;
  background-color: #686A6C;
  border-radius: 4px;
  position: fixed;
  top: 710px;
  right: 40px;
}

.scroll-arrow h4{
  color: #FFF;
  text-align: center;
  padding-top: 15px;
}

/*Header*/

header{
  width: 1200px;
  height: 68px;
  font-family: 'Asap', sans-serif;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.logo h2{
  color: #FFF;
  font-size: 22px;
  margin-left: 45px;
}

.logo span{
  color: #72CDF4;
}

/*Header Nav*/

nav{
  margin-right: 100px;
}

nav span{
  font-size: 14px;
  letter-spacing: 1.2px;
}

nav .divider{
  margin-right: 4px;
  margin-left: 4px;
}

/*Main Banner*/

#main-banner{
  width: 1200px;
  height: 730px;
  padding-top: 66px;                           /*Added to compensate for fixed header*/
  background-image: url('../concept art/main-image.jpg');
  background-repeat: no-repeat;
}

.slogan{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan h2{
  color: #fff;
  font-family: 'Playfair Display', sans-serif;
  font-size: 66px;
  font-weight: bold;
  text-align: center;
  margin-top: 230px;
  text-shadow: -5px 5px 16px #333333;
}

.slogan img{
  width: 100px;
  margin-top: 5px
}

/*Opening Text*/
#opening-text{
  width: 1200px;
  width: 100%;
  height: 535px;
  padding-left: 72px;
  padding-right: 72px;
}

#opening-text h2{
  font-size: 43px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 40px;
}

#opening-text p{
  width: 1055px;
  font-size: 26px;
  font-family: 'Akkurat Light', sans-serif;
  line-height: 2;
}
